<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Prueva Técnica Road Innovation</span>
</nav>
<div class="container">
    <h1>Listado de productos</h1>
    <hr>

    <div class="row m-t-20">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="buscarProductos()">
                        <div class="form-group">
                            <label for="termino">Término de busqueda</label>
                            <input formControlName="termino" type="text" class="form-control" id="termino" aria-describedby="termino" placeholder="SKU1001">
                            <small id="terminoHelp" class="form-text text-muted">Puedes buscar por SKU o codigo de producto.</small>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <h3>Resultados de busqueda:</h3>
            </div>
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>SKU</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="listaProductos.length == 0">
                            <td align="center" colspan="4">No se encontraron productos</td>
                        </tr>
                        <tr *ngFor="let producto of listaProductos; let i = index">
                            <td> {{i + 1 }} </td>
                            <td>{{producto.codigo}}</td>
                            <td>{{producto.sku}}</td>
                            <td>{{producto.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>